
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: #f6f6f6;
    height: 100vh;
    box-sizing: border-box;
}

.container__main {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__section {
    width: 615px;
    height: 482px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section__titulo {
    font-size: 36px;
    font-family: "Krona One", serif;
    font-weight: 400;
}

.section__paragrafo {
    font-size: 18px; 
    font-family: "Montserrat", serif;
    font-weight: 400; 
}

.section__links {
    display: flex;
    justify-content: space-between;
}

.section__div__links {
    background-color: #22D4FD;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 24px;
    width: 250px;
    padding: 21.5px 0;
    text-align: center;
    color:black;
    border-radius: 16px;
    text-decoration: none;
    
}

.section__div__links:hover {
    background-color: rgba(196, 109, 253, 0.685);
    font-weight: 800;
    color: #f6f6f6;
}

.titulo__destaque {
    color: #22D4FD;
}







