
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: #000000;
    --cor-segundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-quarta: #444444;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-principal);
    color: var(--cor-segundaria);
    box-sizing: border-box;
}

.container__main {
    padding: 3% 15% 12% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__main__about {
    padding: 3% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.cabecalho__navegacao {
    display: flex;
    gap: 80px;
    padding: 2% 0% 0% 15%;
}

.cabecalho__navegacao > a {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-terciaria);
}

.cabecalho__navegacao > a:hover {
   color: var(--cor-quarta);
}


.container__section {
    width: 615px;
    height: 482px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titulo__destaque {
    color: var(--cor-terciaria);
}

.section__titulo {
    font-size: 24px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
}

.section__paragrafo {
    font-size: 18px; 
    font-family: "Montserrat", sans-serif;
    font-weight: 400; 
}

.section__links_h2 {
    font-family: "Krona One", sans-serif;
    font-size: 18px;
    font-weight: 400 ;
}

.section__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px
}

.section__div__links {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria)
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    width: 378px;
    padding: 21.5px 0;
    text-align: center;
    color: #f6f6f6;
    text-decoration: none;
}

.section__div__links:hover {
    background-color: var(--cor-quarta);
}

.rodape {
    background-color: #22D4FD;
    color: #000000;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 14px 0px;
    width: 100%;
}








